.burger-menu {
  width: 24px;
  height: 3px;
  position: relative;
  background-color: $burger-menu;
  &::before {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    background-color: $burger-menu;
  }
  &::after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    top: -10px;
    left: 0;
    display: block;
    background-color: $burger-menu;
  }
}