.button {
  padding: 35px 120px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-image: linear-gradient(#ffa600);
  transition: background-image ease-in-out .5s;
  &:hover {
    background-image: linear-gradient(to right, #ea7400 0%, #f29400 100%);
  }
}