.form-reviews-block {
  padding-top: 10.14%;
  position: relative;
  color: $text-color;
  background-image: url("../images/content/autumn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  &::before {
    content: "";
    width: 396px;
    height: 404px;
    position: absolute;
    top: -10%;
    right: 0;
    display: block;
    background: url("../images/content/leave.png");
    background-repeat: no-repeat;
  }
}