.header {
  margin-bottom: 27.57%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text-color;
}

.socials--header .socials__item {
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
}