.main__container {
  padding-top: 69px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-block {
  background-image: url('../images/content/code-bg.jpg'), url('../images/content/train-bridge.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
  background-position: left bottom -150px, top;
}