.nav {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.nav__block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav__item {
  line-height: 1.88;
  transition: color ease-in-out 0.5s;
}

.nav__link {
  &:hover {
    color: $hover-color;
  }
}