.nav {
  width: 100%;
  display: flex;
  flex: 1;
}

.nav__block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav__item {
  line-height: 1.88;
  transition: color ease-in-out .5s;
  &:hover {
    color: $hover-color;
  }
}

.nav-outer--header {
  width: 100%;
  padding: 0 19.66%;
}