.scroll {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  transition: color ease-in-out .5s;
  &:hover {
    color: $hover-color;
  }
  &:hover .scroll__icon {
   fill: $hover-color;
  }
}

.scroll__text {
  margin-right: 21px;
}

.scroll__icon {
  width: 19px;
  height: 30px;
  fill: $controls-icon-color;
  transition: fill ease-in-out .5s;
}