section.about-me
  .about-me__avatar-outer
    .about-me__avatar
      +image("content/avatar.jpg", "about-me__pic", "avatar")
  .about-me__description-outer
    .about-me__hello.text Привет, меня зовут
    .about-me__title.title Дмитрий Семёнов
    .about-me__job.text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
  .about-me__information-outer
    +table([{key:"Проживаю:", property:"Москва"}, {key:"Возраст:",property:"33"}, {key:"Родился:", property:"11 ноября 1985"}])
  .about-me__footnote-outer
    .about-me__footnote Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!