footer.footer
  .container.footer__container
    .footer__author
      .footer__copyright © 2019
      .footer__author-block
        h5.footer__author-name Дмитрий Семёнов
        p.footer__author-text Личный сайт веб-разработчика
    .footer__main
      .footer__nav
        +nav("footer-navigation")
      .footer__info-block
        .footer__note
          p.footer__about-site Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
          +socials("footer")
        .footer__quote
          p.footer__quote-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
          .footer__quote-author Martin Golding