.my-skills
  .my-skills__frontend
    .my-skills__frontend-title Front-end
    +circleSkill("frontend-list", [90,70,30,15], ["HTML5", "CSS3", "Javascript", "Jquery и Vue.js"])
  .my-skills__workflow
    .my-skills__workflow-title Workflow
    +circleSkill("workflow-list", [80,30,80,25], ["GIT", "Terminal", "Gulp", "Webpack"])