script(type="text/x-template")#skills-list
  ul.my-skills
    li.my-skills__group-item(v-for="skill in skills")
      groupSkillName(:skill="skill")

script(type="text/x-template")#groupSkillName
  .my-skills__skills-group
    h4.my-skills__title {{skill.skillsGroup}}
    ul.my-skills__list
      li.my-skills__item(v-for="(skillPersent, skillName) in skill.skills")
        skillName(:skillName="skillName", 
                  :skillPersent="skillPersent")

script(type="text/x-template")#skillName
  .my-skills__skill
    div.my-skills__list-title {{skillName}}
    svg(class="persentage" viewBox="0 0 100 100" preserveAspectRatio="none")
      defs
        lineargradient#gradient(x1="0%" y1="0%" x2="100%" y2="0%")
          stop(offset="0%" stop-color="#f29400")
          stop(offset="100%" stop-color="#ea7400")
      circle(cx="50" cy="50" r="40" class="circle circle__under")
      circle(cx="50" cy="50" r="40" ref="circle" stroke-dashoffset="251" class="circle circle__above")