.my-skills
  .my-skills__frontend
    h4.my-skills__frontend-title.my-skills__title Front-end
    +circleSkill([90,70,30,15], ["HTML5", "CSS3", "Javascript", "Jquery и Vue.js"])
  .my-skills__workflow
    h4.my-skills__workflow-title.my-skills__title Workflow
    +circleSkill([80,30,80,25], ["GIT", "Terminal", "Gulp", "Webpack"])