section.paralax
  .paralax__layer
    +image("content/paralax-layer-01.png", "paralax__img", alt)
  .paralax__layer
    +image("content/paralax-layer-02.png", "paralax__img", alt)
  .paralax__layer
    +image("content/paralax-layer-03.png", "paralax__img", alt)
  .paralax__layer
    +image("content/paralax-layer-04.png", "paralax__img", alt)
  .paralax__layer
    +image("content/paralax-layer-05.png", "paralax__img", alt)
  .paralax__layer
    +image("content/paralax-layer-06.png", "paralax__img", alt)