section.paralax
  .paralax__layer
    img(class="paralax__img")
  .paralax__layer
    img(class="paralax__img")
  .paralax__layer
    img(class="paralax__img")
  .paralax__layer
    img(class="paralax__img")
  .paralax__layer
    img(class="paralax__img")
  .paralax__layer
    img(class="paralax__img")