script(type="text/x-template")#reviews-slider
  .reviews__slider-container
    .reviews__slider-panel
      h2.reviews__title.title Что обо мне говорят
      .reviews__slider-conrol
        button(type="button" @click="previous()" ref="prev").reviews__prev-button.reviews__buttons
          +icon("short-arrow", "reviews__prev-icon reviews__icon")
        button(type="button" @click="next()" ref="next").reviews__next-button.reviews__buttons
          +icon("short-arrow", "reviews__next-icon reviews__icon")
    .reviews__slider-content(v-if="reviews.length")
      flickity(ref="flickity" :options="flickityOptions")
        li.reviews__item(v-for="review in reviews")
          reviewsSliderContent(
            :review="review"
          )

script(type="text/x-template")#reviews-slider-content
  div.reviews__review-outer
    p {{review.text}}
    div.reviews__hero-block
      div.reviews__hero-avatar
        img.reviews-list__img(:src="review.avatar" alt="аватар пользователя")
      div.reviews__hero-text
        h5 {{review.author}}
        div {{review.occ}}