.slider
  .slider__display
    .slider__content
      .slider__pic
          +image("content/1.jpg", "slider__img", "job-previews")
    .slider__control
      button(type="button").slider__control-button.slider__control-button-prev
        +icon("short-arrow", "slider__prev-icon slider__control-icon")
      button(type="button").slider__control-button.slider__control-button-next
        +icon("short-arrow", "slider__next-icon slider__control-icon")
    .slider__previews
      ul.slider__previews-list
        li.slider__previews-item.slider__previews-item--active
          +image("content/1.jpg", "slider__previews-img", "job-previews")
        li.slider__previews-item
          +image("content/2.jpg", "slider__previews-img", "job-previews")
        li.slider__previews-item
          +image("content/3.jpg", "slider__previews-img", "job-previews")
        li.slider__previews-item
          +image("content/4.jpg", "slider__previews-img", "job-previews")
  .slider__desck
    ul.slider__tags
      li.slider__tag-item HTML
      li.slider__tag-item CSS
      li.slider__tag-item Javascript
    .slider__title Сайт школы образования
    .slider__text
      p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
    a.slider__link
      +icon("link", "slider___link-icon")
      .slider__link-text Посмотреть сайт